<div class="header">
  <span class="header-text">Users</span>
</div>
<div class="add-user" (click)="addUser()">
  <span>Add New User</span>  
</div>
<div class="filters">
  <div>
    <span>Show </span> 
    <select (change)="onPageSizeChange($event.target)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
    </select>
    <span> Entries</span> 
  </div>
  <div>
    <span>Search: </span>
    <input #input type="text" placeholder="" (change)="search(input.value)">
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-subtitle-1 head-id" (click)="sortTable('id')">
        {{ 'ID' }}
      </th>
      <th class="text-subtitle-1 head-column" (click)="sortTable('contact_data.email')">
        {{ 'Email' }}
      </th>
      <th class="text-subtitle-1 head-column" (click)="sortTable('username')">
        {{ 'Username' }}
      </th>
      <th class="text-subtitle-1 head-column">{{ 'Actions' }}</th>
    </tr>
  </thead>

  <tbody
  >
  <tr *ngFor="let user of pagedUsers">
      <td class="column">
        <div class="plot-info">
          <span
            class="text-subtitle-1 plot-name"
            >{{ user.id }}</span
          >
        </div>
      </td>
      <td class="column">
        <div class="plot-info">
          <span
            class="text-subtitle-1 plot-name"
            >{{ user.contact_data.email }}</span
          >
        </div>
      </td>
      <td class="column">
        <div class="plot-info">
          <span
            class="text-subtitle-1 plot-name"
            >{{ user.username }}</span
          >
        </div>
      </td>
      <td class="column">
        <div class="actions">
          <img class="icon" src="../assets/eye.svg" (click)="seeInfoUser(user)">
          <img class="icon" src="../assets/edit.svg" (click)="editInfoUser(user)">
          <img class="icon" src="../assets/delete.svg" (click)="deleteUser(user.id)" >
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="paginator">
  <mat-paginator
  [length]="users.length"
  [pageSize]="pageSize"
  [showFirstLastButtons]="true"
  [disabled]="searchActive"
  [hidePageSize]="true"
  (page)="onPageChange($event)">
</mat-paginator>
</div>
